<template use="mainLayout.html">








    <block dot-block="content">
        <script language="JavaScript" remote="yes">
            DOT.include("dot://ANGULAR/ANGULAR.js");
            DOT.ANGULAR.printAngularInit();


            CTRL.prototype.someAction = function ($$observed, name) {
                $$observed.someData = $$observed.someText;
                $$observed.otherText = "";
            };

        </script>
        <script language="JavaScript">



            angular.module("SiteApp", ["$dotremote"]).controller("TestCtrl", function ($dotremote) {

                var remote = $dotremote.register(this);

                this.someAction = function () {
                    remote.someAction("wurst");
                };

                this.someData = "Some Data";
               // this.someText ="";
            });

        </script>
        <div ng-controller="TestCtrl as test">


            <input type="text" ng-model="test.someText"/>

            Dies ist der {{ test.someData }} überschriebene Content <a href="" ng-click="test.someAction();">Click mich</a>
        </div>


    </block>

</template>