<template use="mainLayout.html">








    <block dot-block="content">
        <script language="JavaScript" remote="yes">

            DOT.CTRL.someAction = function (name) {
                var data2 = DOT.REQUEST.json.data;
                data2.someData = data2.someText;
                data2.wurst = "mu4h";
                return data2;
            }

        </script>
        <script language="JavaScript">

            angular.module("SiteApp", ["$dotremote"]).controller("TestCtrl", function ($dotremote) {
                $dotremote.register(this);
                this.someData = "Some Data";
               // this.someText ="";
            });

        </script>
        <div ng-controller="TestCtrl as test">


            <input type="text" ng-model="test.someText"/>

            Dies ist der {{ test.someData }} überschriebene Content <a href="" ng-click="test.call('someAction', $event);">Click mich</a>
        </div>


    </block>

</template>